<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Partials/nav.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
  <div class="navbar-left">
    <a href="/" class="logo">Blogify</a>
  </div>

  <div class="navbar-right">
    <% if (typeof user !== 'undefined' && user) { %>
      <a class="nav-link" href="/">Home</a>
      <a href="/write" class="nav-link">Write Blog</a>
      <div class="dropdown">
        <button class="dropbtn"><%= user.name %> ▼</button>
        <div class="dropdown-content">
          <a href="/logout">Logout</a>
        </div>
      </div>
    <% } else { %>
      <a href="/login" class="nav-link">Login</a>
      <a href="/signup" class="nav-link">Signup</a>
    <% } %>
  </div>
</nav>


</body>
</html>